img.center {
display: block;
margin-left: auto;
margin-right: auto;
width:500px;
height:500;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.pwd {
  align-items: center;
}

.pwdbutton{
  height:35px;
  font-size:14pt;
}

.formtitle {
  text-align: center;
  font-size:14pt;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  margin:auto;
  display:block;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: Green;
}
